click
docopt
grpcio==1.11.0
ipykernel
jupyter
matplotlib
numpy==1.19.5
pandas
Pillow>=4.2.1
protobuf==3.5.2
pytest>=3.2.2
pyyaml
scipy
tensorflow==1.7.1
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0