<?xml version="1.0"?>
<launch>
    <!-- Log Level -->
    <param name="loglevel" value="3" />

	<!-- the number of waypoint to start processing the traffic lights -->
    <param name="traffic_light_lookahead_wps" value="80" />
    
    <!-- Vehicle parameters -->
    <param name="vehicle_mass" value="1736.35" />
    <param name="fuel_capacity" value="13.5" />
    <param name="brake_deadband" value=".1" />
    <param name="decel_limit" value="-8.5" /> <!-- 8.5m/s^2 is the general limit -->
    <param name="accel_limit" value="2.5" /> <!-- 2.5m/s^2 for general vehicle (racing vehicle can reach 3.8m/s^2 or above) -->
    <param name="wheel_radius" value="0.2413" />
    <param name="wheel_base" value="2.8498" />
    <param name="steer_ratio" value="14.8" />
    <param name="max_lat_accel" value="3." />
    <param name="max_throttle" value="0.8" />
    <param name="max_steer_angle" value="8." />

    <!--DBW Node -->
    <include file="$(find twist_controller)/launch/dbw.launch"/>

    <!--Waypoint Loader -->
    <include file="$(find waypoint_loader)/launch/waypoint_loader_site.launch"/>

    <!--Waypoint Follower Node -->
    <include file="$(find waypoint_follower)/launch/pure_pursuit.launch"/>

    <!--Waypoint Updater Node -->
    <include file="$(find waypoint_updater)/launch/waypoint_updater.launch"/>

    <!--Traffic Light classifier model -->
    <param name="traffic_light_classifier_model" value="$(find tl_detector)/light_classification/frozen_inference_graph.pb" />>
    
    <!--Traffic Light Locations and Camera Config -->
    <param name="traffic_light_config" textfile="$(find tl_detector)/site_traffic_light_config.yaml" />

    <!--Traffic Light Detector Node -->
    <include file="$(find tl_detector)/launch/tl_detector_site.launch"/>

    <!--Camera Calibration YAML -->
    <param name="grasshopper_calibration_yaml" textfile="$(find styx)../../../data/grasshopper_calibration.yml" />

    <!--Camera Info Publisher -->
    <include file="$(find camera_info_publisher)/launch/camera_info_publisher.launch"/>
</launch>
