// Color Palette
$color-main: #efd6ff; // Lavender
$color-dark: #402d4e; // Dark Purple
$color-comp: #007663; // Green
$color-acct: #fffade; // Off-White

// Faded Color Palette
$fcolor-main: #efd6ff55; // Lavender
$fcolor-dark: #402d4e55; // Dark Purple
$fcolor-comp: #00766355; // Green
$fcolor-acct: #fffade55; // Off-White